{extend name="layout/base" /} {block name="title"}test{/block} {block name="container"}
<div class="col-md-10">
    <div class="cards">
        <div class="col-md-4 col-sm-6 col-lg-3">
            <a class="card" href="###">
                <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1526003463&di=6f30cab7d7a2e50ad8b5d3fea7a1e72d&src=http://d.hiphotos.baidu.com/lvpics/w=1000/sign=02b65049912bd40742c7d7fd4bb99f51/b21bb051f81986183de821e54ced2e738bd4e620.jpg"
                    alt="">
                <div class="card-heading">
                    <strong>良辰美景</strong>
                </div>
                <div class="card-content text-muted">良辰美景奈何天</div>
                <div class="card-actions">
                    <button type="button" class="btn btn-danger">
                        <i class="icon-heart"></i> 喜欢</button>
                    <div class="pull-right text-danger">
                        <i class="icon-heart-empty"></i> 520 喜欢</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <a class="card" href="###">
                <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1526003463&di=6f30cab7d7a2e50ad8b5d3fea7a1e72d&src=http://d.hiphotos.baidu.com/lvpics/w=1000/sign=02b65049912bd40742c7d7fd4bb99f51/b21bb051f81986183de821e54ced2e738bd4e620.jpg"
                    alt="">
                <div class="card-heading">
                    <strong>良辰美景</strong>
                </div>
                <div class="card-content text-muted">良辰美景奈何天</div>
                <div class="card-actions">
                    <button type="button" class="btn btn-danger">
                        <i class="icon-heart"></i> 喜欢</button>
                    <div class="pull-right text-danger">
                        <i class="icon-heart-empty"></i> 520 喜欢</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <a class="card" href="###">
                <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1526003463&di=6f30cab7d7a2e50ad8b5d3fea7a1e72d&src=http://d.hiphotos.baidu.com/lvpics/w=1000/sign=02b65049912bd40742c7d7fd4bb99f51/b21bb051f81986183de821e54ced2e738bd4e620.jpg"
                    alt="">
                <div class="card-heading">
                    <strong>良辰美景</strong>
                </div>
                <div class="card-content text-muted">良辰美景奈何天</div>
                <div class="card-actions">
                    <button type="button" class="btn btn-danger">
                        <i class="icon-heart"></i> 喜欢</button>
                    <div class="pull-right text-danger">
                        <i class="icon-heart-empty"></i> 520 喜欢</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <a class="card" href="###">
                <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1526003463&di=6f30cab7d7a2e50ad8b5d3fea7a1e72d&src=http://d.hiphotos.baidu.com/lvpics/w=1000/sign=02b65049912bd40742c7d7fd4bb99f51/b21bb051f81986183de821e54ced2e738bd4e620.jpg"
                    alt="">
                <div class="card-heading">
                    <strong>良辰美景</strong>
                </div>
                <div class="card-content text-muted">良辰美景奈何天</div>
                <div class="card-actions">
                    <button type="button" class="btn btn-danger">
                        <i class="icon-heart"></i> 喜欢</button>
                    <div class="pull-right text-danger">
                        <i class="icon-heart-empty"></i> 520 喜欢</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <a class="card" href="###">
                <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1526003463&di=6f30cab7d7a2e50ad8b5d3fea7a1e72d&src=http://d.hiphotos.baidu.com/lvpics/w=1000/sign=02b65049912bd40742c7d7fd4bb99f51/b21bb051f81986183de821e54ced2e738bd4e620.jpg"
                    alt="">
                <div class="card-heading">
                    <strong>良辰美景</strong>
                </div>
                <div class="card-content text-muted">良辰美景奈何天</div>
                <div class="card-actions">
                    <button type="button" class="btn btn-danger">
                        <i class="icon-heart"></i> 喜欢</button>
                    <div class="pull-right text-danger">
                        <i class="icon-heart-empty"></i> 520 喜欢</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <a class="card" href="###">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1526013543662&di=b0449bbfcaea317daa4147431e7f1511&imgtype=0&src=http%3A%2F%2Fimg0.ph.126.net%2FxPOv3rAm6RtTFtGaKVpuEA%3D%3D%2F1321806490651324152.jpg"
                    alt="">
                <div class="card-heading">
                    <strong>良辰美景</strong>
                </div>
                <div class="card-content text-muted">良辰美景奈何天</div>
                <div class="card-actions">
                    <button type="button" class="btn btn-danger">
                        <i class="icon-heart"></i> 喜欢</button>
                    <div class="pull-right text-danger">
                        <i class="icon-heart-empty"></i> 520 喜欢</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <a class="card" href="###">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1526013543661&di=c48e821f9864112545b9274be039aa99&imgtype=0&src=http%3A%2F%2Fimgstore.cdn.sogou.com%2Fapp%2Fa%2F100540002%2F470607.jpg    "
                    alt="">
                <div class="card-heading">
                    <strong>良辰美景</strong>
                </div>
                <div class="card-content text-muted">良辰美景奈何天</div>
                <div class="card-actions">
                    <button type="button" class="btn btn-danger">
                        <i class="icon-heart"></i> 喜欢</button>
                    <div class="pull-right text-danger">
                        <i class="icon-heart-empty"></i> 520 喜欢</div>
                </div>
            </a>
        </div>
        <div class="col-md-4 col-sm-6 col-lg-3">
            <a class="card" href="###">
                <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1526003463&di=6f30cab7d7a2e50ad8b5d3fea7a1e72d&src=http://d.hiphotos.baidu.com/lvpics/w=1000/sign=02b65049912bd40742c7d7fd4bb99f51/b21bb051f81986183de821e54ced2e738bd4e620.jpg"
                    alt="">
                <div class="card-heading">
                    <strong>良辰美景</strong>
                </div>
                <div class="card-content text-muted">良辰美景奈何天</div>
                <div class="card-actions">
                    <button type="button" class="btn btn-danger">
                        <i class="icon-heart"></i> 喜欢</button>
                    <div class="pull-right text-danger">
                        <i class="icon-heart-empty"></i> 520 喜欢</div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="col-md-2">
    <div class="cards">
        <div class="row">
            <div class="card">
                <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1526003463&di=6f30cab7d7a2e50ad8b5d3fea7a1e72d&src=http://d.hiphotos.baidu.com/lvpics/w=1000/sign=02b65049912bd40742c7d7fd4bb99f51/b21bb051f81986183de821e54ced2e738bd4e620.jpg"
                    alt="">
                    <img class="img-circle" style="margin-left:30%;margin-top: -50%;position: absolute;" src="https://avatar.csdn.net/6/9/0/3_nongweiyilady.jpg" alt="头像" />
                    <div class="card-content text-center">
                    eqaeadfafef
                </div>
            </div>
        </div>
        <!-- ... 更多的 .col-md-4 来包含卡片 -->
    </div>
</div>

{/block}